// SECTOR NAVIGATION
.sect-amar.abou-us.main-nav.vert-menu.vert-anim.amar-nav.nav-mobi
	a(class="nav-btn indx-gene for-mobi")
		i(class="fa fa-angle-down" aria-hidden="true")
	div(class="title-page")
		label(for='')
	ul
		li
			a(href='/amaris-website/aboutus/who-we-are')
				span(for='') Who We Are
		li(class="current")
			a(href='/amaris-website/aboutus/governance')
				span(for='') Governance
		li
			a(href='/amaris-website/aboutus/csr')
				span(for='') CSR
		li
			a(href='/amaris-website/aboutus/certifications')
				span(for='') Certifications
	.clear
// end sector navigation
