// SECTOR NAVIGATION
.sect-amar.acti-hove.icon-menu.vert-anim.amar-nav.nav-mobi
	a(class="nav-btn indx-gene for-mobi")
		i(class="fa fa-angle-down" aria-hidden="true")
	div(class="title-page")
		div(class="the-img")
		label(for='') 
	ul
		li
			a(href='', style='background-image: url(../imgs/sector/03.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/03_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/03.png)';")
				label(for='') Energy
		li
			a(href='', style='background-image: url(../imgs/sector/04.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/04_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/04.png)';")
				label(for='') Civil engineering
		li(class="current")
			a(href='', style='background-image: url(../imgs/sector/05.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/05_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/05.png)';")
				label(for='') Life Sciences and Environment
		li
			a(href='', style='background-image: url(../imgs/sector/06.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/06_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/06.png)';")
				label(for='') Telecommunications and Media
		li
			a(href='', style='background-image: url(../imgs/sector/07.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/07_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/07.png)';")
				label(for='') Railway
		li
			a(href='', style='background-image: url(../imgs/sector/01.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/01_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/01.png)';")
				label(for='') Aerospace and Defence
		li
			a(href='', style='background-image: url(../imgs/sector/12.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/12_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/12.png)';")
				label(for='') Public Sector and NGO
		li
			a(href='', style='background-image: url(../imgs/sector/08.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/08_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/08.png)';")
				label(for='') Distribution and Trade
		li
			a(href='', style='background-image: url(../imgs/sector/09.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/09_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/09.png)';")
				label(for='') Banking and Insurance
		li
			a(href='', style='background-image: url(../imgs/sector/02.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/02_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/02.png)';")
				label(for='') Automotive
		li
			a(href='', style='background-image: url(../imgs/sector/11.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/11_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/11.png)';")
				label(for='') Manufacturing
		li
			a(href='', style='background-image: url(../imgs/sector/10.png);', onmouseover="this.style.backgroundImage = 'url(../imgs/sector/10_hover.png)';", onmouseout="this.style.backgroundImage = 'url(../imgs/sector/10.png)';")
				label(for='') Art, Entertainment, Leisure
	.clear
// end sector navigation
