.body-content
	section.set-padd-top.set-bg-white
		.container
			.amc-expertise.special-bio-pha
				.title
					p Our platform is made up of 
						span several project teams
						| and groups of
						span experts 
						| in different technologies, carrying out the projects from Amaris offices or on the customer premises.
					p Our projects range from small services to large 
						span complex solutions, 
						| for 
						span local, national 
						| and 
						span international 
						customers.
				.the_devide.title
					.item
						.img-wrap
							img(src="imgs/dod/we think-plan.png")
							p We think & Plan
					.item
						.img-wrap
							img(src="imgs/dod/we deliver.png")
							p We Deliver
					.item
						.img-wrap
							img(src="imgs/dod/we train.png")
							p We Train
					.item
						.img-wrap
							img(src="imgs/dod/we support.png")
							p We Support
				h1 IT / IS Services
				.the_devide.summary.parent
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/web development-guidelines.png")
								p Web Development
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p From basic portals to APIs and complex web applications.
								span
									High quality
								|	software from the conception to the production support
							.the_devide.content.child
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/noise deletion - Copy.png")
											p Basic Portals
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p  	No custom development but continuous improvement and short time to market
											ol
												li Our basic portal development will offer you an appropriate solution that fits your needs without a custom development.
												li Our most common used software solutions involves a huge dedicated community to help one another giving a continuous innovation in each new version.
												li We can underline the rapidity of the development and the lower cost of the realization.
												li Our team counts with a number of experts in different fields and years of experience
												li What is a basic portal?
													ol
														li Personal or corporate Web sites
														li Community portal sites
														li Intranet/Corporate sites
														li Blogs, art, portfolio, music, moltimedia sites
														li Forums
														li International sites (websites with molti languages)
														li Resource directories
														li Social networking sites
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/web applications- training-test management and assessment.png")
											p Web Applications
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p  See your ideas unfold through our custom solutions services
											ol
												li We offer a variety of technical solutions that will fully meet all requirements, based on our expertise, approaches and techniques.
												li Knowledge and experience combined with our context driven approach provide a support services tailoredspecifically for your needs and no one-size-fits-all solutions.
												li Web applications can be oriented in eCommerce solutions or Management applications.
												li We can adapt an existing CMS solutions with custom made modules to fit your needs.
												li Some of our advantages are:
													ol
														li
															Continuous integration.
														li
															Development in agile teams.
														li
															Business alignment.
														li
															Enhanced Project Management.
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/testing.png")
											p Testing
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											ol
												li The best way to make your data accessible.
													ol
														li To make your services consumed by other applications or automation tools.
														li To have a light weight architecture for devices with limited bandwidth like smart phones.
														li To swap out your UI for new one (maybe even in a different language/framework) easier.
														li Following security standards to protect your information.
												li Many companies and organizations already rely on their API infrastructure to serve their core business clients.
												li We will provide:
													ol
														li The skills & expertise to improve the usability of your data.
														li The tech expertise and solution for a given architecture.
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/training.png")
											p Training
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Sharpen your developers’ skills through our training services.
											ol
												li We offer a variety of courses, based on the practical application of different testing approaches and techniques.
												li We do not provide diplomas and certifications and book knowledge – we provide real world skills and abilities.
												li Some of the themes covered are: CMS, eCommerce, .NET, Java, Python, best practices.
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/desktop development.png")
								p Desktop Development
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p From basic operating system processes to 
								span complex desktop applications, 
								| we can help you from the
								span conception 
								| to the production deployment and
								span support
							.the_devide.content.child
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/management applications.png")
											p Management Applications
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p See your ideas unfold through our custom solutions services
											ol
												li We offer a variety of technical solutions that will meet fully all requirements, based on our expertise, approaches and techniques.
												li Making robust applications that can handle alarge volumes of data.
												li Knowledge and experience combined with our context driven approach provide a support services tailored specifically for your needs and no one-size-fits-all solutions.
												li Our team counts with a number of experts in different fields and years of experience.
												li We can adapt existing applications with new modules developments that make it a more custom solution.
												li Some of the themes covered are:
													ol
														li Continuous integration
														li Development in agile teams
														li Team business alignment
														li Enhanced Project Management
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/middleware applications-infracstructure support - Copy.png")
											p Middleware applications
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p The best way to make your application on going.
											ol
												li To deploy your application in the desired environment.
												li To prepare the environment for possible operations to be performed by your application.
												li For successful data migrations with less impact.
												li We will provide:
													ol
														li The skills & expertise to improve the deployment/migration of your app/data.
														li The tech expertise and solution for given architecture.
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/training.png")
											p Training
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Sharpen your developers’ skills through our training services
											ol
												li We offer a variety of courses, based on the practical application of different testing approaches and techniques.
												li We do not provide diplomas and certifications and book knowledge – we provide real world skills and abilities.
												li Some of the themes covered are: .NET, Java, WPF, best practices.
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/testing.png")
								p Testing
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p Traditional
								span testing 
								|	approaches have difficulties responding to the stakeholders needs – testing gets neglected or totally avoided as a result, or high sums are being paid for, quite often, deficient testing
							.the_devide.content.child
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/testing.png")
											p Testing
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Starting point and continuous support
											ol
												li Our testing support services will offer you a starting point for testing in your organization, as well as a possibility to get constant support
												li Our team counts with a number of experts in different fields and years of experience
												li Knowledge and experience combined with our context driven approach provide a support services tailored specifically for your needs and no one-size-fits-all solutions
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/testing - Test management and Assessment.png")
											p Test Management & Assessment
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Testing is inherently unpredictable
											ol
												li We prefer to spend time into exploring and enabling testing in your company instead of producing pages of documentation
												li Our documentation is as lean as possible – not too much, not too little
											p The toolbox
											ol
												li Highly valuable, customizable and non-intrusive
												li Complimentary to your tools and processes
											p Management = Logistics
											ol
												li Getting people, their skills, software, data, environments and everything else ready at the required time
												li People management instead of test cases management – enabling better testers performance, leading to better quality product
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/QAaaS.png")
											p QAaaS
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Keep development in-house, benefit from the independent look at the product
											ol
												li Our outsourcing services are not about you losing control – they are about you gaining control through working with someone who provides honest, relevant and useful information at all times
												li Reduce costs, but do not reduce quality – our focus is in offering maximum value at all times
											p Constant contact and communication
											ol
												li You will feel our testers are sitting in the office next door – we believe the constant communication and contact are as important as finding bugs – it enables us to provide better service
											p Fitting in your organization
											ol
												li Our experience and context driven mindset makes our team fit in seamlessly into your existing teams and organization
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/testing - performance testing - Copy - Copy.png")
											p Performance Testing
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Knowing how will applications respond under different loads matters a lot! Performance testing can provide answers for questions like:
											ol
												li 
													strong Availability
													| – How many users can you manage?
												li 
													strong Response time
													| – Are your users waiting too much?
												li 
													strong Bottlenecks
													| – Why your app is not being scaled?
												li 
													strong Future
													| – Is your platform ready for new developments?
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/mobile test lab service - testing - Copy.png")
											p Mobile Test Lab Service
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p In a world where the use of mobile devices is an unstoppable reality, having an adaptive, configurable and manageable mobile test lab becomes a must.
											p Our lab is based on OpenSTF platform, providing access to multiple physical devices from a web browser.
											ol
												li 
													strong Availability 
													| – How many users can you manage?
												li 
													strong Response time 
													| – Are your users waiting too much?
												li 
													strong Bottlenecks 
													| – Why your app is not being scaled?
												li
													strong Future 
													| – Is your platform ready for new developments?
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/training.png")
											p Training
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Sharpen your testers’ skills through our training services
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/helpdesk abnd support - Copy.png")
								p Helpdesk & Support
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p Our helpdesk & support can
								span add value
								|	and 
								span productivity
								|	to a number of key areas in your company. Improved
								span quality
								|	for a continuous changing environment.
							.the_devide.content.child
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/helpdesk abnd support - Copy.png")
											p Helpdesk
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Give you the freedom to focus on your core competencies while giving your employees or customers a pleasant, satisfying help desk experience
											ol
												li Provide technical support to your computer users (or customers).
												li Help you to regain control over your support.
												li The purpose is usually to troubleshoot problems or provide guidance about products.
												li Our team has a number of experts in different fields and years of experience.
												li How can we help you? Provide technical assistance and support for incoming queries and issues related to user incidents:
													ol
														li Software management
														li Hardware management
														li Operation Support management
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/intracstructure  support.png")
											p Infrastructure support
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Build and manage a highly available, reliable IT small/medium infrastructure that meets your dynamic business needs
											ol
												li Services that abstract the user from the details of infrastructure like physical computing resources, location, data partitioning, scaling, security, backup etc.
												li Provide systems management and monitoring
												li Some of the themes covered are: Provide technical assistance and support for incoming queries and issues related to server incidents:
													ol
														li Technical assistance and management: DHCP, DNS services, network issues, backups and recovery, basic security..
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/deployment services.png")
											p Deployment services
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											ol
												li We can help to coordinate upgrades or rollout new hardware or software projects
												li Our experts deliver professional on-site deployment services at your company
												li We can scale as needed for medium or small IT services projects
												li We will work closely with you to develop a customized approach based on your unique requirements, including site, user, technology and schedule needs.
												li We can assist with :
													ol
														li Placement of customer asset tags
														li Inventory tracking of tag/equipment info
														li Computer BIOS updates of asset tag info, asset tag removal and tracking
												li We help to support :
													ol
														li Locations moves
														li Computer refreshes
														li New software upgrades, and more
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/devops - Copy.png")
								p DevOps
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p Traditional
								span delivery approaches
								|	have difficulties responding to the stakeholders needs –big delivery times blocks little features for a long and lacks confidence of deployment reliability
							.the_devide.content.child
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/assessment.png")
											p Assessment
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p We get the real image
											ol
												li We prefer to spend time into exploring and meeting with your company experts instead of defining standard answers
												li Asking the correct questions gives us the real answers
											p Our assessment report
											ol
												li Highly valuable, customizable to company’s needs
												li With a defined action plan
											p Kinds
												li General purpose assessment –a global scope to give a high level answer
												li Tool specific assessment –offering improvements to the current process
												li Process specific assessment –offering tool recommendations to improve or implement a process
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/Continuous Integration (CI) Strategy.png")
											p Continuous Integration (CI) Strategy
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p GETTING READY FOR CI
											ol
												li Our consultants perform best when they are involved from early stages and are able to work directly with requirements gathering and analysis
												li Comparing our standard definitions with requirements, we create a tailored definition
											p CONTINUOUS UPDATE AND TESTING
											ol
												li Our plans and strategies are constantly updated as the project progresses and mutates
												li Finding the unknown and dealing with implicit requirements BEFORE shipping
												li As soon as there are deliverables, our consultants will apply their best test tool –their brains –to challenge your process
											p BLEND IN YOUR COMPANY
												li Our consultants blend seamlessly in your company and project and are ready to adapt to any specific context
											p AMARIS APPROACH
												li Our consultants are experts in different fields and approaches to DevOps and will select the best combination for your product
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/deployment processes.png")
											p Deployment processes
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Full guide to all deployment automation, outsourced or in-house
											p Starting with architecture definitions to give
											ol
												li High Availability
												li Resilience
												li Load Balance
											p Giving Infrastructure as Code solutions
											p Defining zero downtime deployment process
											ol
												li Waterfall
												li Blue-green
												li Canary
											p Our outsourcing services are not about you losing control –they are about you gaining control through working with someone who provides honest, relevant and useful information at all times
												li Reduce costs, but do not reduce quality –our focus is in offering maximum value at all times
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/cloud migration- training - Copy.png")
											p Cloud Migration
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Go cloud with us and get what you really need
											p Set the cloud model
											ol
												li Get assessment to make the best decision about which kind of cloud fits better to you
												li Get an action plan to deploy and cost analysis
											p Set the service model
											ol
												li Use our expertise to ensure the best migration experience
												li Flexible, cost effective, cost control, scalable
												li Ability to choose a prepaid month bundle
											p Outsource
												li We can assess you or just outsource the migration to our DevOps team
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/ClaaS and Cloud Management.png")
											p CIaaS & Cloud Management
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											p Service approach
											ol
												li Source control service –Set a new private SCM or integrate your own
												li Binary repositories service –Get an endpoint to save your binaries for your preferred tool (pypi, npm, yum, docker, nuget, etc)
												li CI orchestration service –Set a customizable web service to implement your CI
												li Integration environments construction service –Set automatic constructions of multiple integration environments customized to your needs
												li Personalized deployment support –Get support on implementing standard and resilient deployment methods for your own environments
												li Infrastructure administration –Delegate CI infrastructure administration
												li Monitoring –A monitored service with scalability procedures
											p On premise approach
											ol
												li Software installation
												li Configuration support
												li Integration environments construction support
												li Personalized deployment support
												li Trainings
											p Highly adaptive implementations to fit any requirement
											p Focusing on process, not on a tool
								.item.content.block2.title-template
									.border-wrapper
										.img-wrap
											img(src="imgs/dod/training.png")
											p Training
										i.fa.fa-chevron-down
										i.fa.fa-chevron-up
									.article-wrap.detail-wrap2
										.text-wrapper
											ol
												li We offer a variety of courses, based on the practical application of different tools and DevOps concepts
												li We do not provide diplomas and certifications and book knowledge – we provide real world skills and abilities
												li Our training services include real world, hands-on testing practices for your teams
												li Some of the themes covered are:
													ol
														li Release management
														li Continuous Integration
														li Pipeline release
														li Deployment strategies
														li Most common tools
				// SECOND SERVICES
				h1 Engineering Services
				.img-wrap.center
					img(src="imgs/dod/nvh and design services.png")
					p NVH & Design Service
				p  From a single 
					span noise issue resolution
					|	to complete
					span assembly analysis,
					|	we can help you from the concept phase to the series production in exterior and interior automotive parts.
				p 	Beneficts
				ol
					li Costs: Squeak and rattle noises arise very late in Project phases, and it has a very negative impact in Project costs. We anticipate all the noise risks in concept and development phase.
					li Simplified manufacturing process: By implementing anti-noise measures in the design phase you can save extra manufacturing stations for felts or greases
					li Less resources needed: The anticipation to the noise risks in early phases of the project prevents the use of your engineering resources and effort at pre-series phase
					li No warranty claims: by performing an NVH study with us you are reducing to the minimum the risk of noise
					li Company reputation improved: Whether your company is a car maker or an automotive supplier, your customers take the NVH performance as an added value of the product.
				.the_devide.summary2.parent
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/design and development - Copy.png")
								p Design & Development
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p 
								| Part and assembly 
								span CAD design 
								| from a Squeak and Rattle point of view
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/Squeak & Ratlle FMEA.png")
								p Squeak & Ratlle FMEA
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p 
								| The S&R Failure Modes and Effects Analysis is a powerfol tool to detect noise risks and set 
								span alternative designs
							ol
								li
									span Analysis 
									| of all the “risk points”
								li
									span Evaluation 
									| of the risk by our experts
								li
									span Alternatives 
									| proposal with market best practices
							p Noise Deletion
							ol
								li
									| A 
									span Risk Matrix 
									| with all possible combinations of potential contact points
								li
									| A 
									span FMEA analysis 
									| describing
									ol
										li Potential noise issue
										li Noise Risk evaluation
										li Proposed actions to implement in design phase
										li Back up solutions for pre-series
								li
									span Alternatives 
									| proposal with market best practices


					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/noise deletion - Copy.png")
								p Noise Deletion
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p The best way to acquire and retain know-how in S&R
							ol
								li Guidelines totally
									span adapted
									|	to your product, for squeak, rattle and buzz
								ol
									li Instrument Panels
									li Center Consoles
									li Door Panels
									li Exterior Parts
							p We will provide:
							ol
								li 	A package of documents with automotive market
									span 	best practices 
									|	to spread within your organization
								li 	Very 
									span 	clear 
									|	and 
									span 	simply explainedsimply 
									|	explained documents to consult and find information 
									span 	quickly
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/Guidelines.png")
								p Guidelines
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p The best way to acquire and retain know-how in S&R
							ol
								li Guidelines totally
									span adapted
									|	to your product, for squeak, rattle and buzz
									ol
										li Instrument Panels
										li Center Consoles
										li Door Panels
										li Exterior Parts
							p We will provide:
							ol
								li A package of documents with automotive market
									span best practices
									|	to spread within your organization
								li Very
									span clear 
									| and 
									span simply explained 
									| simply explained documents to consult and find information quickly
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/testing.png")
								p Testing
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p Your product design validated
								span on time
							ol
								li We have partnerships with the
									span best
									|	laboratories in Europe
									ol
										li Vibration
										li Stick-slip
							p We will provide:
							ol
								li Organization and management of the needed tests
								li Recommendations about how to
									span meet OEM´s S&R requirements
					.item.summary.block.title-template
						.border-wrapper
							.img-wrap
								img(src="imgs/dod/training.png")
								p Training
							i.fa.fa-chevron-down
							i.fa.fa-chevron-up
						.content-wrapper.detail-wrap
							p Your engineers leading the NVH management
							ol
								li Basic training and advanced training
									ol
										li Noise 
											span prevention 
											|	in design phase
										li 
											span Squeak 
											| noise 
											span elimination
											| in pre-series and serial life
										li 
											span Rattle 
											| noise 
											span elimination in pre-series and serial life
										li Finding contact points as the 
											span source 
											| of buzz, squeak and rattle in finished products
										li 
											span
												On demand 
											|	training
								li Specific products: Instrument Panels, Door Panels, Center Consoles, Exterior Parts
							p We will provide:
							ol
								li Totally adapted training solutions
								li Solutions 100% 
									span adapted
									|	to your needs
								li Market
									span best practices
									|	at your service
								li Additional 
									span vibration
									| or
									span stick-slip
									| testing