// BODY CONTENT
.body-content
	//- .red-test
	//- .test-area
	section.set-padd-top.set-bg-white
		.amc-parallax
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-energy.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 Aerospace and Defense
						p After a decade of steady growth, the Aerospace & Defence industry faces major challenges. The increasing globalization process, along with complex government regulations, creates more pressure than ever to improve productivity and increase transparency.
						p To meet with the growing international demand, and more particularly of China and the South Asian countries, companies have to modernise their fleet and rethink their processes in order to offer customised aircrafts with speed and flexibility. This also calls for a better control of the cost structure, but not to the detriment of environmental concerns and regulations. The defence firms, which face in addition a declining budget environment in many occidental countries, have to reinvent themselves to find efficient solutions and maintain their growth.
						p Amaris provides state-of-the-art services to the Aerospace & Defence industry. Our consultants operate at all stages of the value chain and in all functional and technical domains, through product engineering (electronics, mechanical, electrical, networks & protocols, embedded systems, mechatronic & controls) and process engineering (project management, quality assurance & control, supply chain & logistics, production management & optimization, RAM/RAMS analysis, certification & homologation).
 
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-banking.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-civil-engineering.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-environment.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-manufacturing.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-public-sector.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-railway.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-rart.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banners-aerospace.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-telecommunicationcca0a624a1a964a4aec5ff0000190c56.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/banner-trade.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
			.block
				.half-lay.left
					.img-wrap
						img(title='banner-energy', src='./photos/sectors/car-753853.jpg', alt='banner-energy')
				.half-lay.right
					article
						h2 The title
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quos dolorum velit nulla delectus omnis, sequi harum alias dolore fugit iste laboriosam explicabo facilis mollitia tempora, ipsa expedita. Dicta perspiciatis quas, animi, molestias reprehenderit aperiam vero ut veniam quasi numquam quos eveniet tenetur hic asperiores iusto, maiores delectus magni voluptates mollitia. Tempora beatae impedit, recusandae consectetur explicabo blanditiis, magnam iusto incidunt placeat laborum iure temporibus adipisci corrupti aliquam quis architecto!
// end body content
