// BODY CONTENT
.body-content
	// HERO IMAGE
	section.mobi-oran
		.img-wrap-cent
			img(src='photos/about/banner-whoweare-gouvernance686fa624a1a964a4aec5ff0000190c56.jpg', alt='Banner-whoweare+gouvernance')
		.scro-down.floating.for-desk
		.corner
			img(src="./imgs/corner.png", alt="")
	// WHO WE ARE SUMMARY
	section.set-padd-top.set-bg-white
		div
			.container.enable-bullet
				h2 Who we are 
				p
					span
						| Amaris is an international Technologies and Management Consulting Group with a rapid pace development and innovative solutions for demanding projects. The companys business consists in supporting its clients in carrying out their projects by acting within their organization to help improve effectiveness and enhance performance. 
						br
						br
						| 					Amaris added value lies in the quality of its teams and their attention to detail, as well as in the way the company capitalizes on their knowhow.
				.media-wrap-center
					iframe.media-wrap(src='https://www.youtube.com/embed/UcMkfoUwmBI', height='315', frameborder='0')
	section.set-padd-top.set-bg-oran
		.container.enable-bullet.set-text-left
			h2 Our Vision
			p
				span
					| Amaris values constant development and offering our customers the benefits of a global, diverse and unique innovation ecosystem.
			h3 Performance
			p
				span
					| translates into a constant desire to move forward and never stop being demanding with ourselves.
			h3 Commitment
			p
				span stands for respecting our engagements and achieving the results we agree upon.
			h3 Trust
			p
				span
					| is at the base of our relationships and enables us to promote freedom of expression and to challenge ideas.
			h3 Boldness
			p
				span
					| is exemplified by our entrepreneurial spirit and encouragement of initiatives and proactivity.
			h3 Independence
			p
				span sets us apart and provides the liberty to decide ourselves our future.
	section.set-padd-top.set-bg-white
		.container.enable-bullet
			.a-half
				.col-lg-6
					h2 Amaris Turnover
					img(title='Amaris_turnover', src='./imgs/about/2017-03-16-graph_2.png', alt='Amaris_turnover')
			.col-lg-6
				h2 Amaris Workforce
				img#BodyContent_C208_ctl00_ctl00_imageItem(title='Amaris_workforce', src='./imgs/about/amaris_workorce3734a824a1a964a4aec5ff0000190c56.png', alt='Amaris_workorce')
	section.set-padd-top.set-bg-white
		.amc_scrolling_dot
			.dot-form
				.left
					article
						.img-wrap
							img(title='amaris_map_2017', src='./imgs/about/map-fr_2017.png', alt='amaris_map_2017')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint voluptas velit praesentium sequi, aliquid animi, dolore tenetur, dolorem nulla dicta aut tempora optio odio, sed exercitationem laborum! Eum necessitatibus optio quaerat minus cum recusandae assumenda expedita accusantium, fugit alias hic, dicta, animi exercitationem magni voluptate mollitia. At, nisi, unde. Consequatur ex corporis sequi, laudantium, iste, voluptatibus iusto recusandae quaerat eveniet architecto provident ea pariatur fuga temporibus cum nostrum aperiam. Sit ipsam quidem, nulla consequuntur error at repudiandae laborum, sunt optio, quaerat itaque! Praesentium possimus, corporis, ipsum rem officia porro doloribus veniam recusandae totam adipisci, commodi soluta veritatis necessitatibus earum fugit.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.right
					article
						.img-wrap
							img(title='amaris_map_2016', src='./imgs/about/map_2016d628a824a1a964a4aec5ff0000190c56.png', alt='amaris_map_2016')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore exercitationem atque officia aut esse vitae iure itaque? Natus vitae voluptatum, sapiente architecto nemo. Porro est harum impedit repellat saepe tenetur aliquam, recusandae sunt possimus quibusdam quam quae pariatur, neque! Voluptatibus earum nihil sequi minus saepe sit, quae tempora nisi accusantium fuga, odit reprehenderit distinctio laboriosam omnis incidunt, aperiam modi vero illo voluptates, quibusdam dolores dolorum eum totam architecto. Vitae minus nesciunt magni deserunt incidunt sint labore alias illo perspiciatis ipsam, eveniet. Ipsum illo suscipit qui, ab totam, rem aliquam omnis vero magnam laudantium! Ipsam atque velit, nemo ipsum quo, enim.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.left
					article
						.img-wrap
							img(title='amaris_map_2017', src='./imgs/about/map-fr_2017.png', alt='amaris_map_2017')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.right
					article
						.img-wrap
							img(title='amaris_map_2016', src='./imgs/about/map_2016d628a824a1a964a4aec5ff0000190c56.png', alt='amaris_map_2016')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.left
					article
						.img-wrap
							img(title='amaris_map_2017', src='./imgs/about/map-fr_2017.png', alt='amaris_map_2017')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.right
					article
						.img-wrap
							img(title='amaris_map_2016', src='./imgs/about/map_2016d628a824a1a964a4aec5ff0000190c56.png', alt='amaris_map_2016')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.left
					article
						.img-wrap
							img(title='amaris_map_2017', src='./imgs/about/map-fr_2017.png', alt='amaris_map_2017')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.right
					article
						.img-wrap
							img(title='amaris_map_2016', src='./imgs/about/map_2016d628a824a1a964a4aec5ff0000190c56.png', alt='amaris_map_2016')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.left
					article
						.img-wrap
							img(title='amaris_map_2017', src='./imgs/about/map-fr_2017.png', alt='amaris_map_2017')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore beatae, dolorem a ipsam neque ex optio nesciunt laborum ipsa, quaerat sit excepturi, deserunt. Alias quo tenetur, totam aperiam fugiat expedita, odit cupiditate quaerat enim amet ut dolorum fuga repellat ex est. Eaque, quibusdam tenetur delectus a voluptatum eos facere, asperiores soluta voluptatibus? Inventore modi totam quisquam soluta, laboriosam sequi nobis, corporis eos cum fugiat neque quaerat eaque laudantium, quibusdam.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
			.dot-form
				.right
					article
						.img-wrap
							img(title='amaris_map_2016', src='./imgs/about/map_2016d628a824a1a964a4aec5ff0000190c56.png', alt='amaris_map_2016')
						span Read more...
						.content
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore exercitationem atque officia aut esse vitae iure itaque? Natus vitae voluptatum, sapiente architecto nemo. Porro est harum impedit repellat saepe tenetur aliquam, recusandae sunt possimus quibusdam quam quae pariatur, neque! Voluptatibus earum nihil sequi minus saepe sit, quae tempora nisi accusantium fuga, odit reprehenderit distinctio laboriosam omnis incidunt, aperiam modi vero illo voluptates, quibusdam dolores dolorum eum totam architecto. Vitae minus nesciunt magni deserunt incidunt sint labore alias illo perspiciatis ipsam, eveniet. Ipsum illo suscipit qui, ab totam, rem aliquam omnis vero magnam laudantium! Ipsam atque velit, nemo ipsum quo, enim.
					.dot-start
					.dot-line
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
// end body content
