// BODY CONTENT
.body-content
	// HERO LAYOUT
	section.mobi-oran
		.img-wrap-cent
			img(src='./photos/expertises/zp9vtb4pms.jpg', alt='engineering-and-high-technologies')
		article.for-desk-and-tabl
		.scro-down.floating.for-desk
	// EXPERTISES LAYOUT
	section.set-padd-top.set-bg-white
		.container.enable-bullet
			h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, enim.
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, tenetur ut dignissimos quidem vitae, deserunt neque vero unde vel necessitatibus consequatur quaerat in possimus impedit tempora iste dolores quibusdam veritatis id! Ducimus eos vel exercitationem, eveniet culpa rerum tempora veritatis repellat? Eaque labore, nihil neque ipsam nemo perspiciatis, dolore officiis, minus, odit amet incidunt quo facilis! Magnam alias temporibus nobis! Qui consequuntur quibusdam, quos accusantium perferendis, animi voluptatem ut nostrum error, aperiam cupiditate eius! Harum, dicta, eum! Impedit, esse, sit. Ducimus obcaecati amet omnis reprehenderit accusantium non quod impedit animi soluta, id, fuga nulla dignissimos facilis totam, provident, ipsum minus.
			.amc-expertise
				.devideMe
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/systems-engineering.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Systems Engineering
							.grdn-colo
								ul
									li System Design
									li Functional Analysis
									li Project Design
									li Reverse Engineering
									li Requirements
									li Management
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/electronics-design.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Electronics Design
							.grdn-colo
								| High Frequency Electronic Design
								br
								br
								| 									Embedded Circuit Design
								br
								br
								| 									Digital Architectures
								br
								br
								| 									Power Electronics
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/software-design.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Software Design
							.grdn-colo
								| Requirements Analysis & Definition
								br
								br
								| 									Real Time / Safety Critical Software
								br
								br
								| 									Application SW Development
								br
								br
								| 									Embedded Systems
								br
								br
								| 									Configuration Control
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/testing-v-v.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Testing V&V
							.grdn-colo
								| System Integration
								br
								br
								| 									AIV / AIT
								br
								br
								| 									Test Plan Definition
								br
								br
								| 									Test Execution
								br
								br
								| 									Verification & Validation
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/logistical-engineering.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Logistical Engineering
							.grdn-colo
								| RAMS Analysis
								br
								br
								| 									Logistic Support Analysis (LSA)
								br
								br
								| 									FMEA / FMECA Analysis
								br
								br
								| 									Life Cycle Cost Anal-ysis(LCC)
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/mechanical-analysis.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Mechanical Analysis
							.grdn-colo
								| Modeling & Simulation
								br
								br
								| 									Control Systems
								br
								br
								| 									Thermal & Fluid Dynamic Analysis
								br
								br
								| 									FEM / FEA / CRASH Analysis
								br
								br
								| 									Mechanical Design & Configuration
								br
								br
					.item
						.col-lg-12
							.img-wrap
								.img-wrap-smlg
									img(title='Systems-Engineering', src='./imgs/expertises/process-engineering.gif', alt='Systems-Engineering')
							.titl-exp
								h5 Process Engineering
							.grdn-colo
								| Project Management
								br
								br
								| 									Quality Assurance & Control
								br
								br
								| 									Supply Chain & Logistics
								br
								br
								| 									Production Management & Optimization
								br
								br
								| 									RAM / RAMS Analysis
								br
								br
								| 									Certification & Homologation
								br
								br
	section.amc-expertise.for-mobi
		.container
			.col-sm-12.col-xs-12
				.expand-title
					.col-sm-6.col-xs-6.item
						h5 Evidence generation
					.col-sm-6.col-xs-6.item
						h5 Techinical solution	
				.expand-wrap
					.title
						i.fa.fa-angle-right
						h4 Decision Analytic Modeling
					.content
						.col-sm-6.col-xs-6
							.block
								p Cosi-effecticvenes
								p Cocacola
								p Xayayayayayayaya
								p Rock you, Rock you, Rock you!!!
						.col-sm-6.col-xs-6
							.block
								p Cosi-effecticvenes
								p Cocacola
								p Xayayayayayayaya
								p Rock you, Rock you, Rock you!!!
// end body content
