// BODY CONTENT
.body-content
	.enable-bullet.passing-header.set-bg-dark
		span(class="toggle-filter") type of news
		.filter-mobile
			.filter
				.selector-div.col-lg-12.active
					.list
						.item(data-id='2') Amaris in the Media
						.item(data-id='1') News
						.item(data-id='3') Press Releases
		.col-lg-9
			.sear-bar
				input#txtSearchNews(type='text')
				a.sear-btn(href='') Search
			.row
				#amc_grid.columns.amc-three-columns.amc_news
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/thumbnail-em-strasbourt13fbaaa24a1a964a4aec5ff0000190c56.png', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/em-lyon-3-in.jpg', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/thumbnail-em-strasbourt13fbaaa24a1a964a4aec5ff0000190c56.png', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/2017-05-05-they-came-back-meg-mca-01.png', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/2017-05-31-gpdedc--winner-in5c66aa24a1a964a4aec5ff0000190c56.jpg', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/2017-06-16-media-lk.jpg', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
					figure.col-lg-4.col-md-6
						article
							.img-wrap
								a(href='')
									img(src='./imgs/news/final_sara-tw.png', alt='Thumbnail Em Strasbourt1')
							aside.expa-fram.orig-stat.active.expa
								.titl3
									.left-layo
										h4
									.righ-layo
										span
											| 13 June 2017
									.clear
								.titl1.flag-origin.flag-load
									a(href='')
										h2 Arnaud Brizzi, EM Strasbourg graduate and our new Deputy Chief Operating Officer
								.dllink
									a(href='', target='_blank', title='Download the document')
										| Download related document
								.content(style='display: block;')
									p
										| As a graduate from EM Strasbourg, Brizzi received congratulations from the Business School situated ...
										span
											a(style='color: #ef8b1b', href='') Read more
								button.shar-btn.btnSocialShare(type='button')
									i.fa.fa-share-alt
									|  Share
								.hidden.popupShare
									nav
										a.li(href='')
											img(src='./imgs/layouts/linkedin.png', style='width: auto;')
										a.fb(href='')
											img(src='./imgs/layouts/facebook.png', style='width: auto;')
										a.tw(href='')
											img(src='./imgs/layouts/twitter.png', style='width: auto;')
							.titl4.set-bg-oran
								h2 Amaris in the media
		.col-lg-3
			// SELECT TYPE OF NEWS LAYOUT
			.filter
				.selector-div.col-lg-12.active
					.expa-btn Type of News
					.list
						.item(data-id='2') Amaris in the Media
						.item(data-id='1') News
						.item(data-id='3') Press Releases
			// DOWNLOAD & CONTACT
			section.prom1
				img.main(src='./imgs/news/cent.png')
				.col-lg-6.col-md-6.col-sm-6.col-xs-12.left-layo.set-heig
					h4 Press Kit 
					a.down-btn(href='', title='Download our Press Kit', target='_blank') download
				.col-lg-6.col-md-6.col-sm-6.col-xs-12.righ-layo.set-heig
					h4 Contact Us
					a.down-btn(href='mailto:press@amaris.com') Contact
				.clear
			// FOLLOW US / TWITTER
			section.foll
				label Follow us on
				a(href='', title='Amaris Twitter', target='_blank')
					em.fa.fa-twitter
				a(href='', title='Amaris Facebook page', target='_blank')
					em.fa.fa-facebook-square
				a(href='', title='LinkedIn Amaris', target='_blank')
					em.fa.fa-linkedin-square
			iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered(scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true', style='position: static; visibility: visible; display: inline-block; width: 100%; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; height: 979.688px;', data-widget-id='profile:Amaris', title='Twitter Timeline')
			script(async='', src='http://platform.twitter.com/widgets.js', charset='utf-8')
		.clear
// end body content
