// BODY CONTENT
.body-content.home-page
	// HERO LAYOUT
	section.helo-amar.mobi-oran
		// HERO IMAGE
		.block
			.img-wrap-cent
				img(src='./photos/home/wall.jpg')
		// Scroll down button
		.scro-down.floating.for-desk
		.corner
			img(src="./imgs/corner.png", alt="")
	// PROMOTION LAYOUT
	section.prom-amar.set-bg-dark
		.container
			h4
				| Amaris is an independent Technology and Management Consulting Group with high added-value consulting services on an international level.
	// AUTO INCREASE NUMBER LAYOUT
	section.perc-amar.set-bg-oran
		.container
			.titl2
				h3.set-bord-righ The NUMBER
			.incr-numb
				.col-lg-3.col-md-3.col-sm-3.bord-hove.transition-effect
					p.counter 3500
					h4 Employee
					img(src='./imgs/home/homepage-pictos_2employees.png', alt='employee')
				.col-lg-3.col-md-3.col-sm-3.bord-hove.transition-effect
					p.counter 80
					h4 Nationalities
					img(src='./imgs/home/170411-homepage-pictos.png', alt='nationalities')
				.col-lg-3.col-md-3.col-sm-3.bord-hove.transition-effect
					p.counter 65
					h4 Office
					img(src='./imgs/home/homepage-pictos_2offices.png', alt='office')
				.col-lg-3.col-md-3.col-sm-3.bord-hove.transition-effect
					p.counter 50
					h4 Countries
					img(src='./imgs/home/homepage-pictos_2countries.png', alt='countries')
	// NEWS LAYOUT
	.container
		.titl-bold
			h3.set-bord-righ News
		section.amar-news.set-bg-white.for-desk
			.row
				.col-lg-4.col-md-4.col-sm-4
					article
						.img-wrap
							img(src='./photos/home/2017-05-31-gpdedc--winner-in5c66aa24a1a964a4aec5ff0000190c56.jpg', alt='2017-05-31-gpdedc--winner-in5c66aa24a1a964a4aec5ff0000190c56')
						aside
							a(href='')
								h3 We Have Been Awarded At The Grand Prix Des Entreprises De Croissance 2017 !
							p
								| Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
				.col-lg-4.col-md-4.col-sm-4
					article
						.img-wrap
							img(src='./photos/home/02_website-post.jpg', alt='02_website-post')
						aside
							a(href='')
								h3 We have won The First Class Relationship Management Award !
							p
								| Our finance team has been awarded last week with The First Class Relationship Management Award  from Adam Smith Awards 2017
				.col-lg-4.col-md-4.col-sm-4
					article
						.img-wrap
							img(src='./photos/home/c_npvhjxuaaj4eteff9a924a1a964a4aec5ff0000190c56.jpg', alt='c_npvhjxuaaj4eteff9a924a1a964a4aec5ff0000190c56')
						aside
							a(href='')
								h3 Our co-founders are part of the 100 personalities of Swiss Romandie !
							p
								| The economic newspaper Le Temps has selected our co-founders to be part of the 100 personalities of Swiss Romandie !
		// end row
		section.amar-news.set-bg-white.maxtaSLD.for-mobi
			ul
				li
					article
						.img-wrap
							img(src='./photos/home/2017-05-31-gpdedc--winner-in5c66aa24a1a964a4aec5ff0000190c56.jpg', alt='2017-05-31-gpdedc--winner-in5c66aa24a1a964a4aec5ff0000190c56')
						aside
							a(href='')
								h3 We Have Been Awarded At The Grand Prix Des Entreprises De Croissance 2017 !
							p
								| Amaris is the winner of the Grand Prix des Entreprises de Croissance 2017 in the Services Company category!
				li
					article
						.img-wrap
							img(src='./photos/home/02_website-post.jpg', alt='02_website-post')
						aside
							a(href='')
								h3 We have won The First Class Relationship Management Award !
							p
								| Our finance team has been awarded last week with The First Class Relationship Management Award  from Adam Smith Awards 2017
				li
					article
						.img-wrap
							img(src='./photos/home/c_npvhjxuaaj4eteff9a924a1a964a4aec5ff0000190c56.jpg', alt='c_npvhjxuaaj4eteff9a924a1a964a4aec5ff0000190c56')
						aside
							a(href='')
								h3 Our co-founders are part of the 100 personalities of Swiss Romandie !
							p
								| The economic newspaper Le Temps has selected our co-founders to be part of the 100 personalities of Swiss Romandie !
			a(class="next-ctrl ctrl-btn")
				i(class="fa fa-angle-right")
			a(class="prev-ctrl ctrl-btn")
				i(class="fa fa-angle-left")
			// end row
	// MEDIA LAYOUT
	section.set-padd-top.set-bg-white
		.container.enable-bullet
			.titl-bold
				h3.set-bord-righ Media
			.a-half
				.col-lg-6
					iframe.media-wrap(src='https://www.youtube.com/embed/8MIX56uDhbk', height='315', frameborder='0')
				.col-lg-6
					iframe.media-wrap(src='https://www.youtube.com/embed/AgH4ZPyEGqY', height='315', frameborder='0')
	// LOCATION BRANDING LAYOUT
	section.map-amar.set-bg-white
		.container
			.titl2
				h3.set-bord-righ Select your location
			.img-wrap
				img(src='./imgs/home/amaris-map921da824a1a964a4aec5ff0000190c56.png', alt='branding')
	// SLIDER NOTIFY
	.slidebox
		h3 Need an Expertise?
		a.apply-job(href='#') Contact our team
		.close-btn
// end body content