@import map-get
@import responsive_for_all
+exports("amc_footer_mini_responsive")
	// Large Screen
	@media #{$amc-max-2560}
	@media #{$amc-max-2560-landscape}
	@media #{$amc-max-2560-portrait}
	
	@media #{$amc-max-1920}
	@media #{$amc-max-1920-landscape}
	@media #{$amc-max-1920-portrait}
	
	@media #{$amc-max-1600}
	@media #{$amc-max-1600-landscape}
	@media #{$amc-max-1600-portrait}
	// Medium Screen
	@media #{$amc-max-1366}
	@media #{$amc-max-1366-landscape}
	@media #{$amc-max-1366-portrait}
	
	@media #{$amc-min-1024}
	@media #{$amc-max-1024}
	@media #{$amc-max-1024-landscape}
	@media #{$amc-max-1024-portrait}
	// Small Screen
	@media #{$amc-max-768}		
		footer.main-foot,
		.for-abs
			a
			h3,
			h4
			h3
			ul
				li
					a
	@media #{$amc-max-768-landscape}
	@media #{$amc-max-768-portrait}

	@media #{$amc-max-568}
	@media #{$amc-max-568-landscape}
	@media #{$amc-max-568-portrait}
	// extra small Screen
	@media #{$amc-max-320}
		footer.main-foot,
		.for-abs
			a
			h3,
			h4
			h3
			ul
				li
					a
						width: 36px
						height: 34px
						&:hover
							img
								position: absolute
								top: -34px
	@media #{$amc-max-320-landscape}
	@media #{$amc-max-320-portrait}







					
