//HEADER LOGO + HEADER RIGHT
div(class="head-wrap")
	div(class="top-head set-bg-white")
		div(class="col-lg-4 col-md-4 col-sm-6 no-float logo-amar")
			div(class="row")
				a(href="" class="defa-logo minimize")
					img(src="imgs/layouts/logo_amaris.png" alt="logo")
		div(class="only-righ for-desk")
			a(class="the-butt btn-cont cont-form-btn") Contact
			a(class="the-butt btn-appl" href="http://amaris.com/amaris-careers-page/home/home-page-v2") Apply