extends layouts/layout.pug
block header
	include header/layout_header_about
block page
	include body/layout_about
block footer
	include footer/layout_footer
block script
	include script/layout_script