extends layouts/layout.pug
block header
	include header/layout_header_expertises
block page
	include body/layout_expertises
block footer
	include footer/layout_footer
block script
	include script/layout_script