extends layouts/layout.pug
block header
	include header/layout_header
block page
	include body/layout_index
block footer
	include footer/layout_footer
block script
	include script/layout_script