extends layouts/layout.pug
block header
	include header/layout_header_sector
block page
	include body/layout_sector
block footer
	include footer/layout_footer
block script
	include script/layout_script