//- FOOTER LAYOUT
footer(class="main-foot")
	div(class="container")
		div(class="row")
			div(class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-xxs-full")
				h4 © Amaris 2016
				a(href="http://amaris.com/en/amaris-website/sitemap") Sitemap
				a(href="http://amaris.com/docs/default-source/default-document-library/terms-and-conditions.pdf") Terms and Conditions
			div(class="col-lg-6 col-md-6 col-sm-9 col-xs-12 col-xxs-full soci-mobile pull-right")
				h3 Follow us
				ul
					li
						a(target="_blank" href="https://www.linkedin.com/company/amaris")
							img(src="./imgs/layouts/amaris_social_in.png" alt="linkedin")
					li
						a(target="_blank" href="https://www.facebook.com/amaris.official.page?fref=ts")
							img(src="./imgs/layouts/amaris_social_fb.png" alt="facebook")
					li
						a(target="_blank" href="https://twitter.com/Amaris")
							img(src="./imgs/layouts/amaris_social_tw.png" alt="twitter")
					li
						a(target="_blank" href="https://www.xing.com/companies/amaris")
							img(src="./imgs/layouts/amaris_social_xing.png" alt="xing")
					li
						a(target="_blank" href="https://plus.google.com/+amaris")
							img(src="./imgs/layouts/amaris_social_goo.png" alt="google")
					li
						a(target="_blank" href="https://www.youtube.com/channel/UCQ4jIq4CDPg4vbutQCMrF8w")
							img(src="./imgs/layouts/amaris_social_youtube.png" alt="youtube")
//- POPUP CONTACT LAYOUT
div(class="set-bg")
div(class="cont-form col-lg-6 col-md-9 col-sm-9 set-cent-abs set-cent-vert indx-huma")
	section
		div(class="container")
			div(class="row input-offer clear-row")
				div(class="left-area no-padding")
					div(class="form-group")
						div(class="title-group")
							h3 Personal information
						div(class="group-item")
							select
								option(value="") Require Subject *
								option(value="") Option I
								option(value="") Option II
								option(value="") Option III
						div(class="group-item")
							input(type="text" placeholder="First name")
						div(class="group-item")
							input(type="text" placeholder="Last name")
						div(class="group-item")
							input(type="text" placeholder="Email *")
						div(class="group-item")
							input(type="text" placeholder="Company *")
						div(class="group-item")
							input(type="text" placeholder="Country")
						div(class="group-item")
							textarea(name="" id="" cols="30" rows="10" placeholder="Message *")
						div(class="group-item")
							label capcha here
						input(type="file" name="pic" accept="image/*")
						a(class="btn-amaris btn-load")
			div(class="close-btn close")
script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")