script(src="js/vendor/Waypoints/waypoints.min.js")
script(src="js/vendor/Counter/jquery.counterup.min.js")
script(src="js/vendor/HorizonScroll/jquery.horizonScroll.js")
script(src="js/vendor/Mansory/masonry.pkgd.min.js")
script(src="js/vendor/SmoothWheel/TweenMax.min.js")
script(src="js/vendor/SmoothWheel/ScrollToPlugin.min.js")
script(src="js/vendor/TouchSwipe/jquery.touchSwipe.js")
script(src="js/vendor/Carousel/jquery.horizonScroll.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.js")
script(src="js/bundle.js")
